@import "_vars";

.from-now {
    min-width: 7rem;
}

.code {
    font-size: 8px;
}

/*
$error-icon-size: 25px;
.error-icon {
    display: inline-block;
    width: $error-icon-size;
    height: $error-icon-size;
    padding-left: 10px;
    color: white;
    background-color: red;
}
*/